{%extends './partials/base.html'%}
{%block title%}
{%endblock%}
{% load crispy_forms_tags %}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-body">
                        Edit report
                    </div>
                    <div class="alert alert-info">
                        <form method="POST">
                            {% csrf_token %}{{form|crispy}}
                            <p>Are you sure you want to Edit? </p>
                            <input class="btn btn-danger" type="submit" value="Yes">
                            <a class="btn btn-secondary" href="{%url 'taskapp-report' %}">No</a>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{%endblock%}